body
{
	margin: 0 !important;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-family: 'Dosis', sans-serif;
}
@keyframes animation-left
      {
          0% { transform: translate(-100%,-50%); }
          100% { transform: translate(0, -50%); }
      }  
@keyframes animation-right
      {
          0% { transform:translateX(200%); }
          100% { transform:translateX(0); }
      }	  
#container
{
	position: absolute; 
	height: 100%;
	width: 100%;
	background: url(image/bgr.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header
{
	animation-name: animation-right;
	animation-duration: 1s;
	background-color: rgba(255, 255, 255, 0.6);
	min-width: 400px;
	max-width: 400px;
	margin-top: 2%;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
#name
{
	font-size: 40px;
	color: black;
	filter:alpha(opacity=100);
	opacity: 1;
	-moz-opacity: 1;
	line-height: 60px;
}
#name p
{
	font-size: 20px;
	text-align: right;
	line-height: 0px;
	padding-right: 10px;
	
}
.front
{
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}
figure > img
{
	display: block;
	height: 200px;
	border-radius: 200px;
	margin-left: auto;
	margin-right: auto;
	Z-index: 3;
}
nav
{
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	animation-name:animation-left;
	animation-duration:1s;
	width: 10%;
	z-index: 100;
}
.menu
{
	position: relative;
	background: rgba(255, 255, 255, 0.6);
	margin: 15px 0 15px 0;
	padding: 15px;
	width: 70px;
	text-align: center;
	border-radius: 0 5px  5px 0 ;
	z-index: 100;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}
.menu:hover
{
	background: rgb(255, 255, 255) !important;
}

.slide
{
	position: absolute;
	display:: flex;
	font-size:20px;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	height: 75%;
	width: 100%;
	padding: 0 140px 0 140px;
	bottom: 0px;
	margin-left:-100%;
	overflow-x: hidden;
	z-index: 5;	
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
h1
{
	text-align: left;
	padding-bottom: 10px;
	border-bottom: 1px solid grey;
}
.ex
{
	position: absolute;
	background: lightgrey;
	right: 0%;
	margin: 20px 0 20px 0;
	padding: 3px 5px 5px 5px;
	width: 20px;
	text-align: center;
	border-radius: 5px 0 0 5px;
	z-index: 100;
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.75);
}
.ex:hover
{
	background: rgb(255, 255, 255);
}
.skillsIcon
{
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
.box
{
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	border: 1px solid grey;
	margin: 10px;
	overflow: hidden;
}
.box > a > img
{
	display:block;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

.box > a > p
{
	position: absolute;
	display: inline;
	left: 0;
	top: 0;
	width: 250px;
	height: 250px;
	margin-top: 0;
	padding: 5px 5px 5px 5px;
	line-height: 25px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;	
	vertical-align: middle;
}
.box > a > p:hover
{
	opacity: 1;
}

section > span
{
	display: block;
	text-align: left;	
}
.info
{
	display: block;
	line-height: 50px;
	vertical-align: middle;
}
#contact a
{
	text-decoration: none;
	color: black;
	line-height: 50px;

}
#contact > i
{
	margin-left: 0px;
}